/***** Global Style *****/
*{
    font-family: Play;
  }
  p{
    font-size: 20px;
    color: #444;
  }
  
  /***** Global Slide *****/
  .slide-right, .slide-left {
    width: 100%;
  }
  
  /***** Slide Right *****/
  .slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /***** Slide Left *****/
  .slide-left {
    animation: 3s slide-left;
  }
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /***** Misc Styles *****/
  .container {
    width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px #000;
    margin-top: 30px;
    border: 1px solid #444;  
    text-align: center;
  }
  body {
    background: #e2e2e2;
  }
  
  /***** FadeIn Underline *****/
  .line {
    border-bottom: 3px solid red;
    width: 200px;
    margin: auto;
  }
  .fade-in {
    animation: fadeIn ease 3s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  